body {
  color: #333;
  font-family: 'Rubik', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

.display-none{
  display: none;
}

.menu-overlay{
  height: 120vh;
  width: 100vw;
  background-color: rgba(255,255,255, 0.8);
  position: absolute;
  z-index: 5;
}

.section-sub-heading{
  color: grey;
  font-family: sans-serif;
  letter-spacing: 10px;
  margin-top: 6rem;
  display: inline-block;
  line-height: 0.8;
  font-size: 0.8rem;

@mixin atMedium{
font-size: 1rem;
}

}

.section-sub-heading-indent{
  border-top: 1px solid lightgrey;
  width: 20vw;
  margin-top: 10%;
  display: inline-block;
}

.indent-right{
  right: 0;
  position: absolute;
}
