$mainBlue: rgb(34, 129, 255);
$mainOrange: #d59541;
$innerBackground: rgba(0, 102, 255, 0.1);
$groupeRed: rgba(188, 32, 32, 0.8);
$twasteBlue: rgba(0, 174, 239, 0.7);
$ronDearingPurple: rgba(147, 43, 129, 0.7);
