.color{
  &__groupe{
    color: $groupeRed !important;
  }

  &__tWaste{
    color: $twasteBlue !important;
  }

  &__ronDearing{
    color: $ronDearingPurple !important;
  }

  &__caseStudies{
    color: $mainBlue !important;
  }
}

.background-color{
  &__groupe{
  background-color: $groupeRed !important;
  }

  &__tWaste{
    background-color: $twasteBlue !important;
  }

  &__ronDearing{
    background-color: $ronDearingPurple !important;
  }

   &__caseStudies{
    color: $mainBlue !important;
  }
}

.border{
  &__groupe{
    border-color: $groupeRed !important;
  }

  &__tWaste{
    border-color: $twasteBlue !important;
  }

  &__ronDearing{
    border-color: $ronDearingPurple !important;
  }

  &__caseStudies{
    border-color: $mainBlue !important;
  }
}

.logo-margin{
  &__groupe{

    margin-left: -18%;
    background-color: rgba(255,255,255, 0.5);
    border-radius: 20px;

    @mixin atMedium{
      
    }

    @mixin atLarge{
      
    }
  }

  &__tWaste{
    margin-left: -70px;

    @mixin atMedium{
      margin-left: -130px;
    }
  }

  &__ronDearing{
      
    margin: auto;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255, 0.5);
    border-radius: 20px;

    @mixin atMedium{
      
    }

    @mixin atLarge{
        
    }
  }


}
