.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding-top: 4rem;
  font-family: 'Josefin Sans', sans-serif;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

img.grayscale {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

img.grayscale:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

.clients{



  &__text-content{
    padding-top: 5rem;
    color: rgb(78, 78, 78);
    opacity: 0.6;
  }

  &__description{


    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
  }

  &__subtitle{
  

    font-family: 'Montserrat', sans-serif;

    font-size: 3rem;
  }


}
