.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding-top: 4rem;
  width: 90%;
  margin: 0 auto;

  @mixin atSmall {
      grid-template-columns: auto auto auto auto auto;
  }
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

img.grayscale {
  filter: grayscale(50%);
  -webkit-filter: grayscale(50%); /* Chrome 19+ & Safari 6+ */
  opacity: 0.6;

  @mixin atSmall {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    opacity: 0.6;
  }
}

img.grayscale:hover {

opacity: 1;

  @mixin atSmall {
    filter: none;
    -webkit-filter: grayscale(0%);
    opacity: 1;
  }
}

.clients{



  &__text-content{
    color: rgb(78, 78, 78);
    width: 90%;
    margin: 0 auto;
  }

  &__description{
    font-family: sans-serif;
    font-size: 1rem;
    opacity: 0.7;
  }

  &__subtitle{

    color: $mainBlue;
    font-weight: 600;
    font-size: 2.5rem;
  }


}
