.headerImgWrapper{
  width: 50vw;
  margin-top: 4%;
  right: 0;
  position: absolute;
}

.headerImgWrapper img{
  max-width: 100%;
  max-height: 100%;
}

#logoPlaceholder{
  color: #fff;
  display: block;
  padding-top: 7vh;
  padding-left: 7vw;
  font-weight: bold;
  font-size: 1.5rem;

  @mixin atMedium{
    font-size: 2rem;
  }
}

.large-hero {
  border-bottom: 10px solid $mainBlue;
  position: relative;
  background-color: #2877ff;
  height: 95vh;

  &__image {
    display: block;
  }

  &__text-content {
    width: 90%;
    margin: 0 auto;
  }

  &__title {
    font-weight: 300;
    color: #fff;
    margin-top: 10%;
    font-size: 2.4rem;
    padding-left: 15%;
    font-weight: bold;

    @mixin atSmall {
      font-size: 4.8rem;
    }

  }

  &__subtitle {
    font-weight: 300;
    color: #fff;
    font-size: 1.5rem;
    margin: 0;
    padding-left: 10%;

    @mixin atSmall {
      font-size: 2.9rem;
    }

  }

  &__description {
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 300;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .6);
    position: relative;
    z-index: 4;
    padding-left: 20%;


    @mixin atSmall {
      font-size: 1.875rem;
    }
  }

}
