.our-beginning {
  position: relative;
  background-color: #dce7fb;
  height: 60vh;

  &__inner {
    position: relative;
    background-color: $innerBackground;
    margin-top: 40%;
    width: 85%;
    height: 600px;
    margin: 0 auto;
    height: 800px;

    @mixin atSmall{
    height: 50vh;
    width: 100%;
    margin-top: 1%;
    }

    @mixin atMedium{
      height: 35vh;
    }

    @mixin atLarge{
    height: 45rem;
    width: 100%;
    margin-top: 1%;
    }
  }

  &__img-wrapper{
    width: 100%;
    left: 0;
    position: absolute;
    z-index: 1;

    @mixin atSmall{
      width: 50vw;
    }
  }

  &__img-wrapper img{
    max-width: 100%;
    max-height: 100%;
    box-shadow: 5px 5px 25px rgba(0,0,0,.2);
    margin-top: 5rem;

    @mixin atMedium{
      margin: 0%;
    }

  }

  &__image {
    display: block;
  }

  &__text-content {
    width: 95%;

    @mixin atMedium{
      width: 70%;
      float: right;

    }
  }

  &__subtitle {
    font-weight: 700;
    color: #0057ff;
    font-size: 1.2rem;
    z-index: 3;
    text-align: center;
    letter-spacing: -2;
    position: absolute;
    padding-top: 5%;

    @mixin atSmall {
      font-size: 2.5rem;
        text-align: right;
        position: absolute;
        right: 10%;
    }

  }

  &__description {
    color: rgba(0, 0, 0, 0.3);
    font-size: 0.9rem;
    font-weight: 300;
    position: relative;
    padding-top: 24rem;
    text-align: center;
    width: 80%;
    margin: 0 auto;


    @mixin atSmall {
      width: 45%;
      float: right;
      padding-top: 12rem;
      text-align: left;
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      font-weight: 300;
      color: rgba(0, 0, 0, 0.3);
      font-family: sans-serif;
      font-size: 1.1rem;
    }

    @mixin atMedium{
      width: 65%;
      float: right;
      padding-top: 10rem;
      text-align: left;
      padding-right: 12%;
      font-weight: 300;
      color: rgba(0, 0, 0, 0.3);
      font-family: sans-serif;
      font-size: 1.1rem;
    }

    @mixin atLarge{
      padding-top: 16rem;
    }


  }

}
