#services{
  height: 1000px;

  @mixin atSmall{
    height: 600px;
  }

}

.services {
  position: relative;
  background-color: #dce7fb;
  height: 60vh;


  &__inner {
    position: relative;
    background-color: $innerBackground;
    margin-top: 40%;
    height: 600px;
    margin: 0 auto;
    height: 200px;

    @mixin atSmall{
    height: 40vh;
    width: 100%;
    }
  }

  &__image {
    display: block;
  }


  &__subtitle {
    font-weight: 700;
    color: $mainBlue;
    font-size: 1.2rem;
    margin: 0;
    padding-top: 5%;
    z-index: 3;
    text-align: center;


    @mixin atSmall {
      font-size: 2rem;
      padding-right: 5%;
      padding-left: 5%;
    }
  }

  &__hover-container{
    width: 95%;
    margin: 0 auto;

    @mixin atSmall{
      margin-top: 2%;
      text-align: center;
    }
  }

  &__hover-box-container{
    display: inline-block;
  }

  &__hover-box{
    width: 8rem;
    height: 8em;
    background-color: white;
    margin: 1.5rem;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: inline-block;
    position: relative;

    @mixin atSmall{
      width: 18rem;
      height: 18em;

    }
  }

  &__hover-box2{
    width: 8rem;
    height: 8rem;
    background-color: white;
    margin: 1.5rem;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: inline-block;
    position: relative;

    @mixin atSmall{
      width: 18rem;
      height: 18rem;
      margin: 0;
    }
  }


  &__service-heading{
    color: $mainBlue;
  }

  &__hover-content{

    background: rgba( 255, 255, 255, 0.9 );
    bottom: -80%;
    height: 100%;
    left: 0%;
    text-align: center;
    position: absolute;
    transition: bottom 0.5s ease;
    width: 100%;
  }


  &__hover-content:hover{
    bottom: -12%;
  }

  &__hover-content ul{
    text-align: center;
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
    list-style-type: none;
    padding: 0;
    margin-top: 30px;
    line-height: 2;
  }

  &__fas{
    padding-top: 20%;
    color: $mainBlue;


    @mixin atSmall{
    }
  }



}
