
.services{
	overflow: hidden;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
	position: relative;
	margin-bottom: 3rem;

	@mixin atSmall{
		margin-bottom: 0rem;
	}

	&__side-image{
		width: 25rem;
		right: 0;
		position: absolute;
		-webkit-clip-path: polygon(0% 0%, 10% 90%, 100% 100%, 100% 0%);
		clip-path: polygon(0% 0%, 10% 90%, 100% 100%, 100% 0%);
		margin-top: 4rem;

		@mixin atMedium{
			width: 45rem;
			margin-top: 0rem;
			max-height: 20rem;
				}

		@mixin atLarge{
			width: 45rem;
			margin-top: 0rem;
			max-height: 20rem;
		}


		@mixin atHuge{
			width: 60rem;
			margin-top: 0rem;
			max-height: none;

		}
	}

	&__floating-background{
		position: absolute;
		height: 40%;
		width: 100%;
		bottom: 0;
		background-color:rgba(0, 110, 255, 0.2);
			-webkit-clip-path: polygon(0% 15%, 0% 100%, 100% 80%, 100% 0%);
		clip-path: polygon(0% 15%, 0% 100%, 100% 80%, 100% 0%);

}


  &__text-content{
    width: 90%;
    position: absolute;
    display: block;
    height: 18rem;
    background-color: rgba(0, 110, 255, 0.78);
    color: white;
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 90% 80%, 100% 0%);
    clip-path: polygon(0% 0%, 0% 100%, 90% 80%, 100% 0%);
		margin-top: 3rem;
		z-index: 1;

    @mixin atMedium{
      display: block;
			width: 80%;
			height: 10rem;
			
    }
  }

  &__text-content p{
    padding: 1rem;
  }

  &__overlay-one{
    height: 100%;
		width: 90%;
  }
}

		.rotate-slider{
			margin: 8em auto;
      margin-bottom: 0;
			height: 360px;
			/* overflow: hidden; */
			width: 480px;


      @mixin atMedium{
        margin: 8rem 0rem 5rem 15rem;
      }

			@mixin atLarge{
				margin: 1rem 0rem 5rem 15rem;
			}
		}
		.rotate-slider ul.slides{
			height: 100%;
			margin: 0;
			overflow: hidden;
			padding: 0;
			position: relative;
				top: 15rem;
				left: 35%;
			-ms-transform-origin: center center;
			transform-origin: center center;
			width: 100%;

      @mixin atLarge{
        left: 0%;

      }
		}
		.rotate-slider ul.slides.animate{
			-webkit-transition: all 0.75s ease-in-out;
			transition: all 0.75s ease-in-out;
		}
		.rotate-slider ul.slides li{
			background-position: center;
			background-size: contain;
			display: block;
			color: #fff;
			list-style: none;
			position: absolute;
				top: 0;
				left: 50%;
			text-align: center;
			-ms-transform-origin: bottom center;
			transform-origin: bottom center;
			width: 100%;
      font-size: 0.8rem;

			@mixin atMedium{
				font-size: 0.9rem;
			}

			@mixin atLarge{
				font-size: 1rem;
			}
		}
		.rotate-slider ul.slides li:nth-of-type(1){background: #3498db;}
		.rotate-slider ul.slides li:nth-of-type(2){background:    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url("../../assets/images/services/biological-background.jpg"); background-size: cover;}
		.rotate-slider ul.slides li:nth-of-type(3){background: #e74c3c;}
		.rotate-slider ul.slides li:nth-of-type(4){background:    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url("../../assets/images/services/absence-background.jpg"); background-size: cover;}
		.rotate-slider ul.slides li:nth-of-type(5){background: #f1c40f;}
		.rotate-slider ul.slides li:nth-of-type(6){background:    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url("../../assets/images/services/imm-background.jpg"); background-size: cover;}
    .rotate-slider ul.slides li:nth-of-type(7){background:    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url("../../assets/images/services/mh-background.jpg"); background-size: cover;}
    .rotate-slider ul.slides li:nth-of-type(8){background: #aa0e0e; background-size: cover;}
    .rotate-slider ul.slides li:nth-of-type(9){background:    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url("../../assets/images/services/hs-background.jpg"); background-size: cover;}
		.rotate-slider ul.slides li .inner{
			box-sizing: border-box;
			height: 100%;
			width: 20rem;
		}
