.services{

  &__wrapper{
  display: grid;
grid-gap: 5rem;
grid-template-columns: repeat( auto-fit, minmax(18rem, 1fr) );
grid-template-rows: repeat( auto-fit, minmax(18rem, 1fr) );
background-color: #fff;
width: 80%;
justify-content: center;
margin: 0 auto;
font-family: sans-serif;
margin-top: 5rem;


@mixin atMedium{
  grid-template-columns: repeat( auto-fit, minmax(15rem, 1fr) );
  grid-template-rows: repeat( auto-fit, minmax(15rem, 1fr) );
  width: 90%;
}

@mixin atLarge{
  margin-top: 0rem;
  grid-template-columns: repeat( auto-fit, minmax(20rem, 1fr) );
  grid-template-rows: repeat( auto-fit, minmax(min-content, 1fr) );
}

@mixin atHuge{
  margin-top: 0rem;
  grid-template-columns: repeat( auto-fit, minmax(30rem, 1fr) );
  grid-template-rows: repeat( auto-fit, minmax(10rem, 1fr) );
}
  }


  &__box{
color: #000;
height: 100%;
background-size: cover;
position: relative;
text-align: center;

& img{
  width: 3rem;
}

&-translucent{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
}

&-translucent:hover{
  background-color: rgba(4, 29, 85, 0.7);;
-webkit-transition: background-color 100ms linear;
-ms-transition: background-color 100ms linear;
transition: background-color 100ms linear;
}



&-content{
  z-index: 1;
  position: relative;
}

&-surv {
  background-image: url("../../assets/images/services/hs-background.jpg");

  }
&-bio {
  background-image: url("../../assets/images/services/biological-background.jpg");


  }
&-drug {
  background-image: url("../../assets/images/services/drug-background.jpg");

  }
&-abs {
  background-image: url("../../assets/images/services/absence-background.jpg");

  }
&-med{
  background-image: url("../../assets/images/services/medical-background.jpg");

}
&-imm{
  background-image: url("../../assets/images/services/imm-background.jpg");
}
&-man{
  background-image: url("../../assets/images/services/mh-background.jpg");

}
&-well{
  background-image: url("../../assets/images/services/wellbeing-background.jpg");

}
&-health{
  background-image: url("../../assets/images/services/hs-background.jpg");

}



}

}
