@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -75%; }
45% { left: -75%; }
50% { left: -135%; }
70% { left: -135%; }
75% { left: -75%; }
90% { left: -75%; }
95% { left: -0%; }
100% { left: -0%; }
}

div#captioned-gallery {
  width: 100%;
  overflow: hidden;
  margin-top: 2rem;

  @mixin atLarge{
    width: 70%;
    overflow: hidden;
    margin-top: 5rem;
    display: inline-block;
  }

  @mixin atHuge{
    width: 60%;
    overflow: hidden;
    margin-top: 5rem;
    display: inline-block;
  }
}
.slider {
  position: relative;
  width: 220%;
  font-size: 0;
  animation: 15s slidy infinite;


  @mixin atMedium{
      width: 500%;
  }
}
.slider-figure {
  width: 32.3%;
  display: inline-block;
  position: inherit;
  height: 10rem;
  margin-right: 1%;

  @mixin atMedium{
    width: 14%;
    height: 26rem;
  }

  @mixin atLarge{
  height: 30rem;
  }
}

.slider-figure img {
  height: 100%;
  width: 100%;
 }

figcaption {
  position: absolute;
  bottom: 0;
  background: $mainBlue;
  opacity: 0.8;
  color: #fff;
  width: 100%;
  font-size: 2rem; padding: .6rem;
}
