#testimonials{

  height: 40rem;

  @mixin atMedium{
    height: 50rem;
  }

  @mixin atLarge{
  height: 120vh;
  }
}

.testimonial{

  &__container{

    width: 80%;
    margin: 0 auto;
    height: 20rem;
    position: relative;

    @mixin atMedium{
      height: 20rem;
    }

    @mixin atLarge{
      height: 60vh;
    }

  }

  &__container span{

    color: rgba(255, 255, 255, 0.75);
    margin-top: 7%;
    margin-left: 5%;
    display: block;

    @mixin atSmall{


    }
  }

  &__container p {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 5%;
    color: rgba(255, 255, 255, 1);

    @mixin atSmall{
      font-size: 1.5rem;
  }

  }

  &__img-one{

    width: 100%;

    @mixin atSmall{
    width: 45%;
    float: left;
  }
}

  &__overlay-one{
    width: 60%;
    background-color: rgba(0, 55, 148, 0.75);
    position: absolute;
    height: 15rem;
    margin-top: -2%;
    margin-left: 15%;
    padding: 2%;
  }

  &__img-two{
    width: 100%;

    @mixin atSmall{
    width: 45%;
    float: right;
  }
  }

  &__overlay-two{
    background-color: rgba(255, 0, 0, 0.75);
    position: absolute;
    height: 15rem;
    margin-top: -5%;
    margin-left: 25%;
    width: 60%;
    padding: 2%;
  }


}
