#testimonials{



  @mixin atMedium{

  }

  @mixin atLarge{

  }
}

.testimonial{

  &__container{

    width: 80%;
    margin: 0 auto;
    height: 18rem;
    position: relative;

    @mixin atMedium{
      height: 20rem;
    }

    @mixin atLarge{
      height: 30rem;
    }

    @mixin atHuge{
      height: 40rem;
    }

    & a{
      text-decoration-color: white;
    }

  }

  &__container:nth-child(3){

    @mixin atLarge{
      height: 20rem;
    }
  }

  &__container span{

    color: rgba(255, 255, 255, 0.75);
    margin-top: 7%;
    margin-left: 5%;
    display: block;

    @mixin atSmall{


    }
  }

  &__container p {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 5%;
    color: rgba(255, 255, 255, 1);

    @mixin atSmall{
      font-size: 1.5rem;
  }

  }

  &__img-one{

    width: 100%;

    @mixin atSmall{
    width: 45%;
    float: left;
  }
}

  &__overlay-one{
    width: 60%;
    background-color: $mainBlue;
    position: absolute;
    height: 15rem;
    margin-top: -2%;
    margin-left: 15%;
    padding: 2%;
    clip-path: polygon(0% 0, 100% 0%, 100% 95%, 0 100%);
    opacity: 0.8;
  }

  &__img-two{
    width: 100%;

    @mixin atSmall{
    width: 45%;
    float: right;
  }
  }

  &__overlay-two{
    background-color: $ronDearingPurple;
    opacity: 0.8;
    position: absolute;
    height: 15rem;
    margin-top: -5%;
    margin-left: 25%;
    width: 60%;
    padding: 2%;
    clip-path: polygon(0% 0, 100% 0%, 100% 95%, 0 100%);
  }

  &__img-three{
    width: 100%;

    @mixin atMedium{
    width: 45%;
    float: left;
    margin-top: -10%;
  }

  @mixin atLarge{
    margin-top: -20%;
  }
}

  &__overlay-three{
    width: 60%;
    background-color: $mainBlue;
    opacity: 0.8;
    position: absolute;
    height: 15rem;
    margin-top: 5%;
    margin-left: 15%;
    padding: 2%;
    clip-path: polygon(0% 0, 100% 0%, 100% 95%, 0 100%);
  }



}
